@charset"utf-8";
	#box .con .Album{width:702px;height:360px;margin-top:10px;margin-left:10px;}
	#box .con .album{width:500px;height:360px;float:left;border:1px solid #bbbbbb;border-right:none;overflow:hidden;border-radius:1px;position:relative;background:#ddd;border-top-left-radius:19px;border-bottom-left-radius:19px;}
	#box .con .album .scroll{width:9999px;height:360px;left:0px;position:absolute;}
	#box .con .album .scroll img{float:left;border-radius:19px;position:absolute;display:none;}
        #box .con .album .scroll img.disp{display:block;}
	#box .con .album .But{width:100%;height:22px;position:absolute;bottom:0px;text-align:center;}
	#box .con .album .But span{width:16px;height:16px;display:inline-block;/*行间块级*/line-height:16px;background:url("../images/but1.png") no-repeat center;margin:0px 3px;}
	#box .con .album .But span.active{background-image:url("../images/but2.png");/*background-image后面不能加值*/}
	#box .con .albumright{width:200px;height:360px;float:left;border:1px solid #ddd;border-top-right-radius:18px;border-bottom-right-radius:19px;background:#ddd;border:1px solid #bbbbbb;border-left:none;}
	#box .con .albumright ul{width:190px;height:360px;margin:0px auto;margin-top:1px;}
	#box .con .albumright ul li{list-style:none;opacity:0.5;border-radius:7px;overflow:hidden;width:180px;height:83px;border:1px solid #ddd;margin:0px auto;margin-top:4px;cursor:pointer;background:black;}
	#box .con .albumright ul li.beijing{opacity:1;border:2px solid #ff8102;background:rgba(0,0,0,0.5);}
	#box .con .right{width:440px;height:360px;top:194px;position:absolute;right:20px;}
	#box .con .right .ss{width:420px;height:40px;margin:10px auto;}
	#box .con .right .sousuo{width:360px;height:35px;border:1px solid #adadad;line-height:35px;float:left;text-indent:15px;}
	#box .con .right .sous{width:57px;height:37px;border:1px solid #646464;background:#ff712d;line-height:35px;font-size:16px;float:left;text-align:center;color:white;cursor:pointer;}
	#box .con .right .tZ{width:400px;height:50px;border-bottom:1px dashed #666666;margin:10px auto;font-size:19px;line-height:50px;}
	#box .con .right .haha{width:410px;height:60px;margin:10px auto;margin-top:25px;font-size:15px;text-indent:30px;line-height:30px;letter-spacing:3px;padding:10px;}
	#box .con .right .haha a{color:red;font-size:19px;}
	#box .con .right .lx{width:410px;height:130px;margin:0px auto;}
	#box .con .right .lx2{width:400px;height:45px;border-bottom:1px dashed #666666;font-size:19px;line-height:45px;text-indent:10px;}
	#box .con .right .lx img{margin-left:70px;margin-top:30px;}
    #box .con .xiay{width:370px;height:350px;background:#fff;margin:0px 795px;float:right;top:578px;position:absolute;}
	#box .con .xiaytop{width:340px;height:35px;margin:0px auto;line-height:35px;text-indent:5px;color:#474645;font-size:17px;font-weight:540;letter-spacing:1px;border-bottom:1px solid #e3e3e3;}
	#box .con .xiay .transform{display:none;}
	#box .con .xiay .transform-son{display:block;}
	#box .con .xiaydown{margin-top:20px;width:370px;height:281px;}
	#box .con .xiaytop ul li{width:91px;height:35px;text-align:center;border-radius:2px;float:left;list-style-type:none;cursor:pointer;}
	#box .con .xiaytop ul li.butt{background:#f77825;color:#fff;}
	#box .con .xiay .xiay0{width:340px;height:40px;margin:7px auto;border-bottom:1px solid #e3e3e3;}
		#box .con .xiay .xiay0:nth-child(1){background:url('../images/ph2.png') no-repeat 0px 10px;}
	 #box .con .xiay .xiay0:nth-child(2){background:url('../images/ph2.png') no-repeat 0px -31px;}
	 #box .con .xiay .xiay0:nth-child(3){background:url('../images/ph2.png') no-repeat 0px -72px;}
	 #box .con .xiay .xiay0:nth-child(4){background:url('../images/ph2.png') no-repeat 0px -113px;}
	 #box .con .xiay .xiay0:nth-child(5){background:url('../images/ph2.png') no-repeat 0px -154px;}
	 #box .con .xiay .xiay0:nth-child(6){background:url('../images/ph2.png') no-repeat 0px -195px;}
	#box .con .xiay .xiay0 span{line-height:35px;margin-left:30px;}
	#box .con .xiay .xiay0 a{color:#474645;text-decoration:none;}
	#box .con .xiay .xiay0 a:hover{color:#ff712d;text-decoration:underline;}
	#box .con .ewm{width:340px;height:310px;margin-left:10px;margin-top:10px;line-height:35px;font-size:19px;float:right;margin-right:55px;position:absolute;right:0px;top:958px;z-index:-1;}
	#box .con .ewm .gzw{width:340px;border-bottom:1px solid #ddd;height:35px;}
	#box .con .ewm img{margin:20px auto;margin-left:65px;}